body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

html, body, .root {
  width: 100%;
  height: 100%;
}

.root {
  max-height: 100vh;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
  
#graph {
  height: 100%;
  width: 85%;
  position: absolute;
  left: 0;
  top: 0;
  border-color: black;
  border: solid;
}

.button-container {
  width: 15%;
  height: 85%;
  position: absolute;
  margin-left: 85%;
}

button {
  width: 90%;
  height: 6%;
  position: relative;
  margin-left: 3%;
  margin-top: 5%;
  z-index:100;
}

button.small{
  width: 40%;
  height: 3%;
  margin-left: 4%;
  margin-right:4%;
}
