body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}
  
#graph {
  height: 100%;
  width: 85%;
  position: absolute;
  left: 0;
  top: 0;
  border-color: black;
  border: solid;
}
button {
  width: 10%;
  height: 10%;
  position: absolute;
  margin-left: 87%;
  z-index:100;
}
